@font-face {
 font-family: 'Gotham';
 src: url('fonts/Gotham-Book.eot');
 src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gotham-Book.woff2') format('woff2'),
  url('fonts/Gotham-Book.woff') format('woff'),
  url('fonts/Gotham-Book.ttf') format('truetype'),
  url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
 font-weight: 500;
 font-style: normal;}

@font-face {
 font-family: 'Gotham-Medium';
 src: url('fonts/Gotham-Medium.eot');
 src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gotham-Medium.woff2') format('woff2'),
  url('fonts/Gotham-Medium.woff') format('woff'),
  url('fonts/Gotham-Medium.ttf') format('truetype'),
  url('fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
 font-weight: 500;
 font-style: normal;}

body {font-family: 'Gotham'; font-size:14px; color:#5d5d5d;}

.wrap{padding:70px 180px 0 70px;}
form.login input[type="text"], form.login input[type="password"]{width: 100%; margin: 0; padding:0 0 10px 0; background: 0;  border: 0; border-bottom: 1px solid #969696; outline: 0;  font-size: 15px; font-weight:300; margin-bottom:25px; color: #5d5d5d;}

.signup-btn{font-size:16px; font-weight:400; margin-top:16px;  outline:0;  cursor: pointer; background:#21b2fe; border-radius:50px; border:0; padding:12px 50px; letter-spacing:1px; color:#fff;
	 transition: box-shadow .3s; 
	-webkit-box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.75); }

.signup-btn:hover, .signup-btn:focus, .signup-btn:active{
    background:#0ea7f8;	outline: 0;
	-webkit-box-shadow: 0px 9px 0px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 0px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 0px -12px rgba(0,0,0,0.75);}

	
form.login .remember-forgot{float: left;  width: 100%; margin: 10px 0 0 0;}
form.login label, form.login a{font-size: 14px;font-weight:300;color: #5d5d5d;}
form.login a{transition: color 0.5s ease;}

#login-section  .col-sm-6{padding:0;}
a.forgot-pass{margin:0 0 10px 0; float: right; font-weight:400;}
a.forgot-pass:hover, a.forgot-pass:focus{color:#5d5d5d; text-decoration:underline;}
.logo{margin:0 0 60px 0;}
.form-title{margin:0 0 35px 0;}
.form-title h2{font-size:35px; color:#2f2f2f; font-weight:bold;}
.form-title p{font-size:15px; color:#5d5d5d; font-weight:300; margin:0; }
.checkbox, .radio{margin-top: 0;}
.checkbox {padding-left: 20px;}
.checkbox label {display: inline-block;  position: relative; padding-left:15px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width:25px;
    height:25px;
    left: 0;
	margin-top: -3px;
    margin-left: -20px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width:20px;
    height: 20px;
    left: 0;
    top:-2px;
    margin-left: -19px;
    padding-left: 3px;
    padding-top:0;
    font-size: 18px;
    color:#21b2fe; }
.checkbox input[type="checkbox"] { opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;    outline: 0px auto -webkit-focus-ring-color; outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome';
    content: "\f00c"; }

.signup-bottom{padding-top:35px; margin-top:45px; border-top:1px solid #dadada;}
.signup-bottom p{font-size:14px; color:#5d5d5d; }
.signup-bottom p a{color:#21b2fe;}
.signup-bottom p a:hover{color:#21b2fe; text-decoration:underline;}

.footer-area-bottom .footer-social {margin-top:40px; padding:0; margin-bottom: 40px;}
.footer-area-bottom .footer-social li {display: inline-block;margin-right: 10px;}
.footer-area-bottom .footer-social li:last-child {margin-right: 0;}
.footer-area-bottom .footer-social li a {line-height:40px; width: 38px; height:38px; border-radius: 50%; display: block;  text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}

.facebook-link{background:#475993;}
.instagram-link{background:#6b1cc1;}
.twitter-link{background:#76a9ea;}
.google-link{background:#f34a38;}
.footer-area-bottom .footer-social li a i {color: #ffffff; font-size:17px;}


.login-image img{width:100%;}
.login-footer{background:#2c2f4b; padding:30px 0; text-align:center;}
.login-footer p{font-size:13px; color:#8387ac; font-weight:300; padding:0; margin:0; letter-spacing:1px;}

label.account-signup a{color:#21b2fe; }
label.account-signup a:hover, p.account-signup a:focus {color:#21b2fe; text-decoration:underline;}

.thank-box .modal-body{text-align:center;}
.thank-box .modal-header{border:0; text-align:center; background:#4170b4; color:#fff; font-size:20px; text-transform:uppercase; padding: 0;}
.thank-box button.close{background:#2b5797; padding:15px 20px; margin:0; color: #fff;}
.thank-box .modal-body p{font-size:14px; color:#5d5d5d; line-height:28px; padding:3% 15%; margin:0; font-weight:300;}
.thank-box .modal-body h5{font-size:14px; color:#5d5d5d; line-height:28px; font-weight:400; margin:0;}

.thank-box .modal-title{padding:13px 0;}
.thank-box .modal-footer{border:0; text-align:center;}
.thank-box .modal-content{border-radius: 0;}
.ok-btn-thank{font-size: 16px; font-weight:400; margin-bottom:40px; outline: 0;
    cursor: pointer;background:#21b2fe;cursor:pointer;color:#fff;border-radius:50px;
	border:0;padding:12px 50px;	letter-spacing:1px; margin-top: 10px;
	transition: box-shadow .3s;
	-webkit-box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.75);}

	
.ok-btn-thank:hover,.ok-btn-thank:focus,.ok-btn-thank:active{
	background:#0ea7f8;outline:0;color:#fff;
	-webkit-box-shadow: 0px 9px 0px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 0px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 0px -12px rgba(0,0,0,0.75);}

	
.nav-space{background:#f8f9fd;}
#footer-section{margin:50px 0 40px 0;}
.copyright-text{font-size:14px; color:#5d5d5d; font-weight:300;}
.footer-section-link ul{padding:0; margin:0; float:right;}
.footer-section-link ul li{display:inline-block; margin:0 0 0 25px;}
.footer-section-link ul li a{font-size:14px; color:#5d5d5d; font-weight:300;}

.menu{background-color: #4170b4; width:100%; height: auto; padding:10px; position: fixed; margin: 0px; z-index: 1; opacity: 0.9;}
.navbar-brand{padding: 5px 15px 15px 15px;}
.menu  .navbar-nav > .active > a{background-color:transparent; color:#fff;}
.menu  .navbar-nav >  li {list-style:none;}
.menu  .navbar-nav >  li >  a{font-size: 15px; color:#b6c7e3; padding:13px 20px; font-weight:300;}
.menu  .navbar-nav >  li >  a:hover,.menu  .navbar-nav >  li >  a:focus{color:#fff; text-decoration:none; outline:0;}
.active{color:#fff!important; text-decoration:none;}
.navbar-right{margin-top:3px;}
.dashboard-menu{float:right; margin: 8px 0 0 0;}
.navbar-default .navbar-toggle{background:#fff; border:1px solid #fff;}
.navbar-default .navbar-toggle .icon-bar{background:#4170b4;}
#welcome-section{padding:100px 0 35px 0; border-bottom:1px solid #dadada; }
.welcome-text  h3{margin:0; font-size:22px; color:#5d5d5d; padding: 10px 0 0 0; font-weight:600;}
.welcome-text  h3 span{color:#4170b4;}
.create-class-box p{font-size:15px; color:#5d5d5d; font-weight:300; float:right;  margin:14px 15px 0 0;}
.nav-item:last-child {border-left:1px solid #5d88c8;}
.create-class-box a{font-size:14px; font-weight:400; margin-top:16px;  outline:0;  cursor: pointer; background:#56c49f; border-radius:50px; border:0; padding:12px 25px; letter-spacing:1px; color:#fff; float:right; margin:0;}

.create-class-box a:hover,.create-class-box a:focus{ background:#47d5a5;	outline: 0; text-decoration:none;}

#dashboard-class-section{padding:0 15px; margin-top:35px;}
.spacer{height:5px; background: transparent!important;}
#dashboard-class-section table thead tr{background:transparent;}
#dashboard-class-section table thead tr th{color:#5d5d5d; font-size:15px; font-weight:300; padding-bottom:15px; padding-left: 0;}
#dashboard-class-section table tr{background:#fff; border-radius:5px; }
#dashboard-class-section table tr:hover{position:relative; z-index:5; transition: box-shadow .3s;
-webkit-box-shadow: 0px 5px 5px -2px rgba(166,166,166,1);
-moz-box-shadow: 0px 5px 5px -2px rgba(166,166,166,1);
box-shadow: 0px 5px 5px -2px rgba(166,166,166,1);}
#dashboard-class-section .table>thead>tr>th{border:0;} 
#dashboard-class-section table tr td{padding:18px 18px 18px 0; border:0; vertical-align:middle;}
#dashboard-class-section table tr td:first-child{padding-left:18px}
#dashboard-class-section table tr td .number-student{background:#a0bfeb; color:#fff; font-size:14px; text-align:center; border-radius:50px; height:35px;  line-height:35px;  width:35px;     display:inline-block; margin:0 5px 0 0;}

.link-class-box{background:#21b2fe; color:#fff; font-size:14px; text-align:center; border-radius:5px; height:35px;  line-height:35px;  width:35px; display: inline-block; margin:0 5px 0 0;}
.link-class-box:hover, .link-class-box:focus{color:#fff; background:#0ea7f8;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background:#fff;}

#chat-section{padding-top:100px;}
#chat-section .panel-primary{border: 1px solid #e0e0e0; padding:10px; border-radius:6px;}
#chat-section .panel-primary>.panel-heading{background:#fff; border-bottom:1px solid #dadada; padding:15px 15px 25px 15px; margin-bottom:20px;}

.panel-heading h3{color:#5d5d5d; font-size:19px; padding:5px 0 0 0; margin:0; font-weight:600;}
.panel-heading h4{color:#5d5d5d; font-size:14px; padding:8px 0 0 0; margin:0;}
.panel-heading h5{color:#5d5d5d; font-size:14px; padding:0; margin:0; font-weight:300;}
.panel-heading .number-student{background:#a0bfeb; color:#fff; font-size:14px; text-align:center; border-radius:50px; height:30px;  line-height:30px; width:30px; display:inline-block; margin:0 5px 0 0;}
.chat-name{background:#21b2fe; color:#fff; font-size:14px; text-align:center; border-radius:50px; height:45px;  line-height:45px;  width:45px; display:inline-block; margin:26px 5px 0 0; font-weight:600;}

.chat-text-left{background:#f6f6f6;border-radius:5px; padding:10px 15px; float:left; margin-top:10px; width: 100%;}
.chat-text-left p{color:#5d5d5d; font-size:14px; line-height:26px;}
.chat-text-left p a{text-decoration:underline; color:#4170b4;}
.chat-text-left p a:hover{text-decoration:none; color:#4170b4;}
#chat-section .text-muted{color:#9b9b9b; font-weight:300;}
#chat-section .panel-body {padding: 0 15px 15px 15px;}
.chat{list-style: none; margin: 0; padding: 0;}
.chat li{margin-bottom: 15px; padding-bottom: 5px;}
.chat li.left .chat-body{margin-left: 65px; margin-right:65px;}
.chat li.right .chat-body{margin-right: 65px; margin-left:65px;}
.chat li .chat-body p{margin:0; color: #777777;}
.panel .slidedown .glyphicon, .chat .glyphicon{margin-right: 5px;}
.panel-body{overflow-y: scroll;height: 400px;}

::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  background-color: #96d7f9;}
::-webkit-scrollbar{width:12px; background-color: #96d7f9;}
::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  background-color: #96d7f9;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color: #6fa0e6;}

form.class-group .form-group input[type="text"]{width: 100%; margin: 0; padding:15px; background: 0;  border-radius:5px; border:1px solid #dadada; outline: 0;  font-size: 15px; font-weight:300; margin-bottom:25px; color: #5d5d5d;}
form.class-group .description-input{width: 100%; margin: 0; padding:15px; background: 0;  border-radius:5px; border:1px solid #dadada; outline: 0;  font-size: 15px; font-weight:300; margin-bottom:5px; color: #5d5d5d; box-shadow: none;}
form.class-group .description-input::-webkit-input-placeholder {color:#5d5d5d;}
form.class-group .description-input:-moz-placeholder {color:#5d5d5d;}


.create-class-modal{padding:45px 45px 0 45px;}
/* Dropdown Select */
.listing-select{ border-radius: 5px; box-shadow:none; margin-bottom:20px; background:#fff; height:52px; float: left; width:100%; border:1px solid #dadada;}
.listing-select select{
	position:relative;
	width:100%;  float: left; 
	background-repeat: no-repeat;  background-position: 96% center;
	background-image:url(../img/down-arrow.png); 
	height:52px; cursor:pointer;
	    background-color: transparent;
	color: #0b2833; font-weight:300; font-size: 15px;
	box-shadow: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance:none; border:0px solid #f0f0f0;	}
.listing-select select::-ms-expand {display: none;}
.listing-select select option{color: #0b2833; font-weight:300; font-size:15px; padding-bottom:10px; }
.listing-select .form-control:focus, .listing-select .form-control:hover{box-shadow: none; border:0px solid #f0f0f0;}
.thank-box .control-label{color:#5d5d5d; font-size:15px; text-align:left; margin-bottom:8px;}
.thank-box .control-group{text-align:left;}
.message-label{color:#5d5d5d; font-size:15px; text-align:left; margin-bottom:8px; float:left;} 


.question-heading{color:#5d5d5d; font-size:25px; padding:0; margin:0 0 20px 0; font-weight:600;}

.question-ask-box{border:1px solid #e0e0e0;  padding:25px; background:#fff; 
border-radius:6px; float: left; width:100%; margin-bottom: 30px;
-webkit-box-shadow: 0px 0px 10px 0px rgba(219,219,219,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(219,219,219,1);
box-shadow: 0px 0px 10px 0px rgba(219,219,219,1);}

.ask-pro-question{padding:0 0 20px 0; border-bottom:1px solid #dadada;}
.question-ask-box h4{color:#4170b4; font-size:18px; margin:0; padding:0 0 5px 0;line-height: 25px; font-weight:600;}
.question-ask-box small{color:#afaeae; font-size:13px; padding:0; margin:0; font-weight:300;}
.question-ask-box p{color:#5d5d5d;font-size:15px; margin:0; padding:10px 0 0 0; font-weight:300;}
.feedback-box{margin:10px 0 0 0;}
.ask-student-question{margin:20px 0 0 0;}

.question-condition{margin:25px 0 0 0;}
.question-arrow-right{float:left; width:35%;}
.question-arrow-left{float:left; width:35%;}
.question-arrow-left i{background:#56c49f; color:#fff; font-size:18px; text-align:center; border-radius:50px; height:40px;  line-height:40px;  width:40px; display:inline-block; margin:0 12px 0 0; font-weight:300; float:left;}
.question-arrow-right i{background:#dd6b6c; color:#fff; font-size:18px; text-align:center; border-radius:50px; height:40px;  line-height:40px;  width:40px; display:inline-block; margin:0 10px 0 0; font-weight:300;float:left;}
.question-condition h5{font-size:20px; padding:8px 0 0 0; margin:0; }
.checkbox-question{text-align:center; margin:25px 0 0 0; border-top:1px solid #dadada; float:left; width:100%; padding:25px 0 0 0;}
.checkbox-question label{font-size: 15px; font-weight: 300;}

.test-categories{margin:0 0 10px 0;}
.test-categories h4{font-size:17px; padding:16px 20px 0 0; margin:0; color:#5d5d5d; float:left;}
.test-categories .control-group{float:left; width:50%;}

.student-status{position:relative;margin: 72px 0 0 0;}
.student-right-status{border-left:1px solid #cecece; padding:0 15px 0 25px; float:left; position:fixed;}
.student-status-heading{margin-bottom:30px;}
.student-status-heading h4{font-size:20px; padding:0; margin:0; color:#5d5d5d; text-align:left; float:left; font-weight:600;}
.student-status-heading h6{font-size:15px; padding:0; margin:0; color:#afaeae; text-align:right;}
.student-status-box{border-bottom:1px solid #cecece; margin-bottom:20px; padding:0 0 20px 0;    float: left; width: 100%;}
.student-chat-name{background:#21b2fe; color:#fff; font-size:14px; text-align:center; border-radius:50px; height:45px;  line-height:45px;  width:45px; display:inline-block; margin:0 5px 0 0; font-weight:600; float:left;}
.student-box-left{float:left;}
.student-box-left p{font-size:15px; padding:12px 0 0 10px; margin:0; color:#5d5d5d; text-align:left; float:left;}
.student-box-left p a{color:#5d5d5d;}
.student-box-right h4{font-size:15; padding:0; margin:13px 0 0 0; color:#5d5d5d;text-align:left;}
.student-box-right{float:right;}

@media (max-width:1024px) {
.wrap {padding: 70px 50px 0 50px;}
.login-image img{width:100%;}
.panel-heading h3{padding:0 0 20px 0; line-height:28px;}
.test-categories .control-group{width: 50%;}
}

@media (max-width: 991px) {
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {float: none !important;}
  .navbar-toggle {display: block;}
  .navbar-collapse {border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-fixed-top {top: 0;border-width:0 0 1px;}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-nav {float: none!important;  margin-top: 7.5px; max-height: 300px; overflow-y: scroll!important;}
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
  .collapse.in{display:block !important;}
  .login-image{display:none;}
}

	
@media (max-width:800px) {
#chat-section {padding-top: 70px;}
.panel-heading h3{line-height:28px; padding:0 0 15px 0;}
.menu .navbar-nav > li > a{padding: 10px 20px;}
.panel-heading h4{padding: 0 0 15px 0;}
.chat li.left .chat-body{margin-left:55px; margin-right:0px;}
.chat li.right .chat-body{margin-right:55px; margin-left:0px;}
.chat li .chat-body p{font-size:13px;}
	
#dashboard-class-section table thead tr{display:none;}
#dashboard-class-section table tr td{padding: 10px;}

.mobile-menu  > li{margin: 10px 0;}
.welcome-text{text-align:center;}
.welcome-text h3{padding: 0; font-size:18px; text-align:left;}
.create-class-box{margin:40px 0 0 0; text-align:left;}
.create-class-box a{float:none;}
.create-class-box p{margin:25px 0 0 0; display: block; float:none;}
.link-class-box{width: 100%;}
#dashboard-class-section table tr{width:98%; float: left; margin: 0 1% 2% 1%; 
border:1px solid #e0e0e0;}
#dashboard-class-section table tr td{width: 100%; float: left;}
.spacer{height:auto; border:0!important;}
.copyright-text{font-size: 12px; text-align: left;  margin: 0 0 25px 0!important;}
.footer-section-link ul{float:none;}
.footer-section-link ul li{margin: 0 15px 20px 0}
.footer-section-link ul li a{font-size:12px;}
 .question-heading{margin-top:40px;}
 .test-categories .control-group{width:100%; margin:10px 0;}
 .test-categories {margin: 20px 0 10px 0;}
 
 .student-right-status{border-left:0; position:static; padding:20px 0 0; width: 100%;}
 .student-status{margin:30px 0 20px 0; width:100%;  float:left;}
 .clear{clear:both;}

}
 
@media (max-width:640px){
 .wrap {padding:40px 20px 0 20px;}
 .create-class-modal {padding:15px 15px 0 15px;}
 .question-ask-box p{display:none;}
 .test-categories h4{padding: 0 0 10px 0;}
 .test-categories .control-group{width: 100%;}
  
}






